////////////////////////////////////
// LOGO
.logo{
    height: 3.25rem;
    margin-left: 3rem;
}



////////////////////////////////////
// SEARCH

.search{
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input{
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.5rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button{
        background-color: var(--color-grey-light-3);
    }

    &__button{
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3)
    }
}

////////////////////////////////////
// USER NAVIGATION

.user-nav{
    align-self: stretch;

    display: flex;
    align-items: center;


    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display:flex;
        align-items: center;
    }

    & > *:hover{
        background-color: var(--color-grey-light-2);
    }

    &__icon-box{
        position: relative;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

}

////////////////////////////////////
// SIDE NAVIGATION

.side-nav{
    

    &__item{

    }

    &__link{

    }

    &__icon{
        width: 1.75rem;
        height: 1.75rem;
    }
}



////////////////////////////////////
// LEGAL TEXT

.legal{
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}